<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DesktopClient.Properties.Settings>
            <setting name="WaitForReconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMinimizeOnConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMaximizeOnDisconnect" serializeAs="String">
                <value>False</value>
            </setting>
        </DesktopClient.Properties.Settings>
    </userSettings>
</configuration>